<! -- Waiting room -- !>
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Game Page</title>
    <link rel="stylesheet" href="/css/root.css" />
    </head>
    <body>
        <header>
            <a href="/root">home</a>
            <a href="/login">login</a>
            <a href="/register">Sign Up</a>
        </header>
        <h1>Waiting Room</h1>
        <main>
            <div class="game-container">
                <div class="game-area">
                    <h1>Blitz Bingo</h1>
                    <!-- Game will be implemented here -->
                </div>
                <div class="chatroom">
                    <h2>Chatroom</h2>
                    <!-- Chatroom will be implemented here -->
                </div>
            </div>
            <div class = "Game-start">
                <button>Ready</button>
                <p>Press ready again to unready</p>
                <button>Game Settings</button> <!--button to edit game, opens an in-page window-->
            </div>
        </main>
        <!-- Use the Webpack-generated bundle -->
        <script src="/js/main.js"></script>
    </body>