<!doctype html>
<html>
  <head>
    <title>Hello from EJS</title>
    <link rel="stylesheet" href="/css/root.css" />
  </head>
  <body>
    <h1>Hello <%= title %></h1>
    <!-- Use the Webpack-generated bundle -->
    <script src="/js/main.js"></script>
  </body>
</html>
